.extend1 {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    
}

.extend2 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.extend3 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 12px;
    opacity: 0.90;

}

.h1 {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}