@import "_colores";
@import "_estructura";
@import "_responsive";

$color1: rgb(150, 199, 59);

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: aqua;
    text-align: center;
    text-shadow: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    border: solid 1px white;
    list-style: none;
    text-align: center;
    margin: 5px;
        li {
            padding: 20px;
            margin: 10px;
            display: inline-block;
            list-style-type: disc;
            a{
                &:hover {
                    color: $color1
                }
                text-decoration: none;
                font-size: 16px;
                color: rgb(255, 255, 255);
                
        }
        }
        }

        


