@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



*{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

.navMenuLink:hover{
    background-color: rgb(122, 127, 151);
    border-radius: 3px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: uppercase;
    
    
}


    
.imagenInicio{
    width: 250px;
    border-radius: 9px;
    box-shadow: 5px 15px 25px;
    display: flex;
    justify-content: center;
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
    animation-name: animacionInicio;
    animation-duration: 4s;
    animation-delay: 1s;
    position: relative;
}
@keyframes animacionInicio {
    0% {background: #aaa; left: 0; top: 0px;}
    25% {background: rgb(56, 189, 171);left: 200px;top: 0px;}
    50% {background: rgb(189, 56, 56);right: 200px;top: 0px;}
    75% {background: rgb(189, 56, 63);}
    100% {background: rgb(127, 127, 179);}

}

.imagenesSecciones{
    height: 150px;
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
    -webkit-transform:rotateZ (-30deg);
    -ms-transform:rotateZ (-30deg);
    transform: translateY(-3%);
    cursor: pointer;
    transition: all 400ms ease;
}



.imagenesProductos {
    width: 400px;
    transition:all .5s ease-in-out;
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
    -webkit-transform:rotateZ (-30deg);
    -ms-transform:rotateZ (-30deg);
    transform:rotateZ (-30deg);
}

.enlacesSecciones:hover{
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 3px;
    background-color: rgb(98, 97, 145);
    margin-left: 5px;
    transition:all .5s ease-in-out;
    
    
}


header{   
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.ulInicio {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: white;
    transition:all .5s ease-in-out;
    
    
}

ul{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    flex-direction: row;
    display: flex;
    
}

h2{
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(92, 97, 139);
 }

 p{ 
    background-color: rgb(139, 136, 153); 
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    padding: 10px;
    
    
}


 img{
    margin:auto;
    
    
    
}

    body{
        background-image: url("http://2.bp.blogspot.com/-6zSzvMvvPDY/UyitboZaiVI/AAAAAAAAFLE/KXWocb0YVro/s1600/fondo%25252Bminimalista%25252Bnegro,%25252Bminimalist%25252Bbackground,%25252Bfondo%25252Bsitio%25252Bweb%25252Bminimalista,%25252Bfondo%25252Bnegro%25252Bweb.jpg")
        
    }
    
    h1{
        background-color: slategrey; 
        font-family: 'Montserrat', sans-serif;
    }
    .nombreApellido{
        font-family: 'Montserrat', sans-serif;
        background-color: slategrey;
        font-weight: bold;
    }
    .domicilio{
        font-family: 'Montserrat', sans-serif;
        background-color: slategrey;
        font-weight: bold;
    }
    .correo{
        font-family: 'Montserrat', sans-serif;
        background-color: slategrey;
        font-weight: bold;
    }
    .tipoBebida{
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        color: darkgray;
    }
    .categorias{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .padre-flex {
        display: flex;
        justify-content: center;
        
        
        
    }

    .productosFlex {
        display: flex;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 0px 15px 25px;
        flex-wrap: wrap;
        transition:all .4s ease-in-out;
       
    }

    .padre-flex-secciones {
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        flex-wrap: wrap;
        
    }


.container{
    display: grid;
    grid-template-columns: 200px auto 200px 300px;
    grid-template-rows: repeat(3, 100px);
    background-color: rgb(127, 127, 179);
    grid-gap: 1rem;
    grid-template-areas:
    "box1 box1 box1"
    "box2 box5 box4 "
    ". box5 .";
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
    background-color: rgb(241, 228, 229);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

.box-1 {
    grid-area: box1;
    
  }
  
  .box-2 {
    grid-area: box2;
    
  }
  
  .box-3 {
    grid-area: box3;
    width: 100px;
  }
  
  .box-4 {
    grid-area: box4;
    
  }
  
  .box-5 {
    grid-area: box5;
    
  }


@media (min-width: 760px){
    body {
        background-color: rgb(52, 128, 77);
        text-transform: lowercase;
        font-size: 30px;
    }
}

@media (min-width: 1024px) and (max-width: 710px) {
    body {
        text-transform: lowercase;
        font-size: 30px;

    }
}

@media (min-width: 1200px) {
    body {
        background-color: coral;
        text-transform: uppercase;
        font-size: 15px;
    }

}

    

 
    



